Repository voxpupuli/puppet-aptly, pull requests merged in 2025-02, with the labels that each got.

#39 modulesync 9.4.0
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .kitchen.yml
  .msync.yml
  .nodeset.yml
Labels: modulesync

#30 Add support for -force-components flag
  REFERENCE.md
  manifests/mirror.pp
  spec/defines/mirror_spec.rb
Labels: enhancement

#43 aptly-api: Manage via puppet/systemd module
  .fixtures.yml
  manifests/api.pp
  metadata.json
  spec/classes/api_spec.rb
Labels: enhancement

#42 Make sure examples in readme are linted
  README.md
Labels: skip-changelog
